:root{
    --CORFUNDO-CORPO: #d6cbd3;
    --CORROSA: #d76190fa;
    --CORAZUL:#bdcebe;
    --CORCINZAESCURO:#ada397;
   
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');



}
p{
    margin: 0px;
    padding: 15px;
    text-align: right;
}

body {
    margin: auto auto;
    background-image: url(imgs/blog/blue-snow.webp);
    max-width: 1500px;
    min-width: 400px;
    min-height: 100vh;
    

}

.header-container {
    position: relative;
    text-align: center;
    
 
}


.header-text {
    color: var(--CORROSA);
    font-family: "Playwrite AU TAS", cursive;
    font-size: 5rem;
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px ;

    
 
}
.subtitulo, .{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--CORCINZAESCURO);
    margin-top: 0px;

}


nav {
    margin: 50px;
    
    }

nav a {
    background-color: rgb(86, 77, 77);
    color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    border: 2px solid gray;
    transition: background-color, color 1s;
    margin-right: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 10px gray;

    
}

nav a:hover {
    background-color: var(--CORROSA);
    color: black;
}
.ondeVeio, .trajet, .fazendo, .ondeEsta{
    display: flex;
}

h2{
    background-image: linear-gradient(to right, var(--CORROSA), rgba(251, 190, 201, 0.86));
    color: white;
    padding: 10px;
   
   
}
body h2:hover{
    background-color: var(--CORROSA);
    color: black;
}



.carousel-item img {
  
  height: 280px;        /* altura desejada */
  width: 100%;
  object-fit: contain;  /* mantém proporção, NÃO corta */
  object-position: center;
  background: #111;     /* opcional: cor das faixas ao redor */
  border-radius: 10px;  /* opcional */
  margin-bottom: 10px;
}
.copy-narrow {
  max-width: 42ch;     /* controle do comprimento das linhas */
  margin-inline: auto; /* centraliza o bloco de texto */
}

.pamplona:hover{
    transform:  scale(1.1) (5deg) translateY(-20px);
  
}

footer{
    background-color: var(--CORCINZAESCURO);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

   

footer p{
    padding: 5px;
}
main{
    width: 80%;
    margin: 40px auto 70px auto;
    box-shadow: 0px 0px 20px var(--CORCINZAESCURO);
    background-color: whitesmoke;
    
}

.footer-text{
    text-align: center;
    margin: 0 auto;

}
.footer-text p{
    margin: 0;
}

.footer-text address{
    margin: 0;
    display: block;
}
#btn-inicio{
    margin-left: 10px;
    background-color: var(--CORROSA);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 15px;
 
}
#btn-inicio:hover{
    box-shadow: 0px 0px 10px white;
    transform: translateY(-2px);
}






@media (max-width: 576px) {
  .carousel-item img {
    height: 220px;
  }
}