@media (max-width:1000px){
    .header-text {
          
        font-size: 4rem;
        position: relative;
        top: 30px;
       
       }
       nav a {
        padding: 10px;
        margin-right: 10px;
       }
}
@media (max-width:750px){
    nav a {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 10px;
        width: 50%;
        align-items: center;
       

    }
        nav a:first-child{
            display: none;
    }
    .fotospamplona img{
        
        margin-left: 40px;
    }
    #familia{
            width: 270px;
            height: 250px;
           
        
  }
}
     

@media (max-width:510px){
    .header-text {
          
        font-size: 3rem;
        text-align: left;
        margin: 30px; 
       }
       .casamento img{
        width: 250px;
        height: 200px;
       }
}
