:root{
    --CORFUNDO-CORPO: #d6cbd3;
    --CORROSA: #d76190fa;
    --CORAZUL:#bdcebe;
    --CORCINZAESCURO:#ada397;
   
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');



}
p{
    margin: 0px;
    padding: 15px;
}

body {
    margin: auto auto;
    background-image: url(imgs/blog/blue-snow.webp);
    max-width: 1500px;
    min-width: 400px;
    min-height: 100vh;
    

}

.header-container {
    position: relative;
    text-align: center;
    
 
}


.header-text {
    color: var(--CORROSA);
    font-family: "Playwrite AU TAS", cursive;
    font-size: 5rem;
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 30px;
 
}


nav {
    margin: 50px;
    
    }

nav a {
    background-color: rgb(86, 77, 77);
    color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    border: 2px solid gray;
    transition: background-color, color 1s;
    margin-right: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 10px gray;

    
}

nav a:hover {
    background-color: var(--CORROSA);
    color: black;
}
h2{
    background-image: linear-gradient(to right, var(--CORROSA), var(--CORCINZAESCURO));
    color: white;
    padding: 10px;
   
   
}
body h2:hover{
    background-color: var(--CORROSA);
    color: black;
}
#familia{
    width: 30%;
    border-radius: 10px;
}

.fotospamplona img{
      width: 270px;
      height: 300px;
      min-height: 200px;
      display: inline;
      margin: 10px;
      border-radius: 10px;
}
.pamplona:hover{
    transform:  scale(1.1) (5deg) translateY(-20px);
  
}

.casamento img{
    width: 350px;
    height: 270px;
    min-height: 200px;
    display: inline;
    margin: 30px;
    border-radius: 10px;
}
footer{
    background-color: var(--CORCINZAESCURO);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
   
}
footer p{
    padding: 5px;
}
main{
    width: 80%;
    margin: 40px auto 70px auto;
    box-shadow: 0px 0px 20px var(--CORCINZAESCURO);
    background-color: whitesmoke;
    
}


}
